<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix={
      if assigns[:page_title] in [nil, "", "Craftday"], do: "", else: " · Craftday"
    }>
      {assigns[:page_title] || "Craftday"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="icon" type="image/svg" sizes="32x32" href={~p'/images/favicon.svg'} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body class="craftday-web bg-stone-50 text-stone-800">
    <nav class="fixed top-0 z-50 w-full border-b border-stone-200 bg-stone-50">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
          <div class="flex-shrink-0">
            <.link navigate={~p'/'}>
              <div class="flex items-center">
                <img src={~p'/images/bread.svg'} class="mr-1 h-7 w-7" />
                <span class="ml-1 text-lg font-semibold">Craftday</span>
              </div>
            </.link>
          </div>

          <ul
            id="nav-items"
            class="shadow-xs absolute left-1/2 flex -translate-x-1/2 items-center space-x-4 rounded-lg border border-stone-200 bg-white px-1 py-1"
          >
            <%= if @current_user && (@current_user.role in [:admin, :staff]) do %>
              <li>
                <.link
                  href={~p"/manage/plan"}
                  class={"#{if @current_path == "/manage/plan", do: "bg-stone-200/60 border border-stone-300 text-stone-900", else: "border border-transparent text-stone-600 hover:bg-stone-200/50 hover:text-stone-900"} flex items-center rounded-md px-2 py-1 text-sm tracking-wide transition-colors duration-200"}
                >
                  <svg class="mr-1 h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2"
                    />
                  </svg>
                  Plan
                </.link>
              </li>
              <li>
                <.link
                  href={~p"/manage/inventory"}
                  class={"#{if @current_path == "/manage/inventory", do: "bg-stone-200/60 border border-stone-300 text-stone-900", else: "border border-transparent text-stone-600 hover:bg-stone-200/50 hover:text-stone-900"} flex items-center rounded-md px-2 py-1 text-sm tracking-wide transition-colors duration-200"}
                >
                  <svg class="mr-1 h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4"
                    />
                  </svg>
                  Inventory
                </.link>
              </li>
              <li>
                <.link
                  href={~p"/manage/products"}
                  class={"#{if @current_path == "/manage/products", do: "bg-stone-200/60 border border-stone-300 text-stone-900", else: "border border-transparent text-stone-600 hover:bg-stone-200/50 hover:text-stone-900"} flex items-center rounded-md px-2 py-1 text-sm tracking-wide transition-colors duration-200"}
                >
                  <svg class="mr-1 h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"
                    />
                  </svg>
                  Products
                </.link>
              </li>
              <li>
                <.link
                  href={~p"/manage/orders"}
                  class={"#{if @current_path == "/manage/orders", do: "bg-stone-200/60 border border-stone-300 text-stone-900", else: "border border-transparent text-stone-600 hover:bg-stone-200/50 hover:text-stone-900"} flex items-center rounded-md px-2 py-1 text-sm tracking-wide transition-colors duration-200"}
                >
                  <svg class="mr-1 h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4"
                    />
                  </svg>
                  Orders
                </.link>
              </li>
              <li>
                <.link
                  href={~p"/manage/customers"}
                  class={"#{if @current_path == "/manage/customers", do: "bg-stone-200/60 border border-stone-300 text-stone-900", else: "border border-transparent text-stone-600 hover:bg-stone-200/50 hover:text-stone-900"} flex items-center rounded-md px-2 py-1 text-sm tracking-wide transition-colors duration-200"}
                >
                  <svg class="mr-1 h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
                    />
                  </svg>
                  Customers
                </.link>
              </li>
              <%= if @current_user.role == :admin do %>
                <li>
                  <.link
                    href={~p"/manage/settings"}
                    class={"#{if @current_path == "/manage/settings", do: "bg-stone-200/60 border border-stone-300 text-stone-900", else: "border border-transparent text-stone-600 hover:bg-stone-200/50 hover:text-stone-900"} flex items-center rounded-md px-2 py-1 text-sm tracking-wide transition-colors duration-200"}
                  >
                    <svg
                      class="mr-1 h-4 w-4"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                      />
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                      />
                    </svg>
                    Settings
                  </.link>
                </li>
              <% end %>
            <% end %>
          </ul>
          <div class="flex w-full justify-end">
            <ul class="flex items-center space-x-8">
              <%= if @current_user do %>
                <li class="relative">
                  <button
                    type="button"
                    phx-click={JS.toggle(to: "#user-dropdown")}
                    phx-click-away={JS.hide(to: "#user-dropdown")}
                    class="flex items-center px-3 py-1 text-sm tracking-wide text-stone-600 transition-colors duration-200 hover:text-stone-900"
                  >
                    <span>{@current_user.email}</span>
                    <svg
                      id="user-dropdown-chevron"
                      class="ml-2 h-4 w-4 transform transition-transform duration-200"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"
                      />
                    </svg>
                  </button>
                  <div
                    id="user-dropdown"
                    class="absolute right-0 mt-2 hidden w-48 transform rounded-md border border-stone-100 bg-white py-2 shadow-lg transition-all duration-200 ease-out"
                  >
                    <.link
                      href={~p"/sign-out"}
                      class="block px-4 py-2 text-sm text-stone-600 hover:bg-stone-50 hover:text-stone-900"
                    >
                      Log out
                    </.link>
                  </div>
                </li>
              <% else %>
                <li>
                  <.link
                    href={~p"/register"}
                    class="rounded-lg border border-stone-200 px-3 py-1 text-sm tracking-wide text-stone-600 transition-colors duration-200 hover:text-stone-900"
                  >
                    Register
                  </.link>
                </li>
                <li>
                  <.link href={~p"/sign-in"}>
                    <.button>
                      Log in
                    </.button>
                  </.link>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <main class="pt-16">
      {@inner_content}
    </main>
  </body>
</html>
